<%- include("partials/header.ejs") %>
<div class="title">
    <h1>Advice of the day</h1>
</div>

<p><%= advice %></p> <!-- Mostra o conselho obtido da API -->
<a href="/">Back</a>

<%- include("partials/footer.ejs") %>