<%- include("partials/header.ejs") %>

    
    <div class="input">
        <h1>Advice of the day</h1>
        <p><%= advice %></p> <!-- Mostra o conselho obtido da API -->
        <a href="/">Back</a>
    </div>


<%- include("partials/footer.ejs") %>