<%- include("partials/header.ejs") %>

    <div class="title">
        <h1>Counselor</h1>
    </div>

    <div class="homePage">
        <h2>Do you want an advice ?</h2>
        <a href="advice">Click here!</a>
    </div>


<%- include("partials/footer.ejs") %>